<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/public/stylesheets/about.css" rel="stylesheet">
</head>

<body>
    <img src="/public/images/startheader-europa-1900x700.jpg" style="width: 100%;">
    
    <div class="container text-center" style="margin-top: 40px;">
        <div class="row" style="width: 100%; gap: 20px;" >
          <div class="col">
            <div >
                <h1><img src="/public/images/redbar.png" width="10" height="170"
                        style="margin: 0px 60px 170px 80px; float: left;">
                    About Us...
                </h1>
                <p style="text-align: justify;">
                    We want to be tangible - that's why Duvenbeck is a company with a strong corporate culture based on trust, personality and teamwork. The customers and of course our employees are the core of the company and are actively involved in all decisions and implementation processes. This creates a sense of belonging and promotes employee motivation and engagement.
                </p>
                <div class="tm-button">
                    <a style="vertical-align: inherit;">
                        <button class="button">annanan</button>
                    </a>
                </div>
                
            </div>
          </div>
          <div class="col" style="width: 29%;">
            <div>
                <img src="/public/images/pictures10.jpg"  width="300" height="300">
         </div>
          </div>
        </div>
      </div>

    <div class="intermediar">
        <div class="word">Pacurariu Trans Speed - Fast delivery, efficient transport services. The perfect choice for your logistics needs</div>
    </div>

    <div class="container text-center" style="margin-top: 40px;">
        <div class="row" style="width: 100%; gap: 20px;" >
          <div class="col" >
            <div style="margin-left: 0px; padding-right: 20px;" >
                <h1><img src="/public/images/redbar.png" width="10" height="170"
                        style=" float: left;">
                    Location
                </h1>
                <p style="text-align: justify; margin-left: 40px; margin-right: 40px;">
                    Pacurariu Transport, a leading transportation company, provides exceptional services in Austria, Hungary, Slovakia, and the Czech Republic. 
                    With a modern fleet and specialized staff, we ensure safe and efficient deliveries, exceeding expectations in every journey.
                     Choose Pacurariu Transport for the perfect partnership in international logistics!
                </p>
                <div class="tm-button">
                    <a style="vertical-align: inherit;">
                        <button class="button">annanan</button>
                    </a>
                </div>
                
            </div>
          </div>
          <div class="col" style="width: 40%;">
        <div>
                <img src="/public/images/world-map-icon.webp"  width="600" height="400">
         </div>
          </div>
        </div>
      </div>
</body>

</html>