doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Pacurariu
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL' crossorigin='anonymous')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN' crossorigin='anonymous')
    script(src='/public/javascripts/content.js')
    link(href='/public/stylesheets/contactPage.css' rel='stylesheet')
  body
    include ./navbar 
    .europimg
      img(src='/public/images/pictures2.jpeg')
    .card(style='margin-top: 50px; padding-left: 150px;')
      h1(style='color: #7f7f80;') Pianu, jud Alba
      .card-body
        p.card-text(style='color: #7f7f80;')
          | S.C PACURARIU TRANS SPEED SRL 
          br
          |                 str galbenerl nr 7 
          br
          |                 Pianu de Jos, aria-labe 
          br
          |                 +40756402263
        .map-container
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9328.999113758093!2d23.480408029757342!3d45.96071215821945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474ea1e1be02c313%3A0x6874af027c749929!2sPACURARIU%20TRANS%20SPEED!5e0!3m2!1sro!2sro!4v1705761718530!5m2!1sro!2sro' width='90%' height='200' style='border:0;' allowfullscreen='allowfullscreen' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
    .container(style= "margin-top:30px;")
      .row.justify-content-center
        .col-lg-10.col-md-12
          .wrapper
            .row.no-gutters
              .col-md-7.d-flex.align-items-stretch
                .contact-wrap.w-100.p-md-5.p-4
                  h3.mb-4 Get in touch
                  form#contactForm(method='POST' name='contactForm' novalidate='novalidate')
                    .row
                      .col-md-6
                        .form-group
                          input#name.form-control(type='text' name='name' placeholder='Name')
                      .col-md-6
                        .form-group
                          input#email.form-control(type='email' name='email' placeholder='Email')
                      .col-md-12(style= "margin-top:10px;")
                        .form-group
                          input#subject.form-control(type='text' name='subject' placeholder='Subject')
                      .col-md-12(style= "margin-top:10px;")
                        .form-group
                          textarea#message.form-control(name='message' cols='30' rows='7' placeholder='Message')
                      .col-md-12(style= "margin-top:10px;")
                        .form-group
                          input.btn.btn-primary(type='submit' value='Send Message')
                          .submitting
              .col-md-5.d-flex.align-items-stretch
                .info-wrap.bg-primary.w-100.p-lg-5.p-4
                  h3.mb-4.mt-md-4(style='color: white;') Contact us
                  .dbox.w-100.d-flex.align-items-start
                    .icon.d-flex.align-items-center.justify-content-center
                      span.fa.fa-map-marker
                    .text.pl-3
                      p
                        span(style='color: white; font-size:20px;') Address:
                         a(style='color: rgba(255, 255, 255, 0.8); font-size:15px;' href='https://www.google.com/maps/place/PACURARIU+TRANS+SPEED/@45.9577395,23.4798993,1778m/data=!3m1!1e3!4m14!1m7!3m6!1s0x474c1e4c3fb85ba9:0xa4a2764ae3469cdb!2sStrada+Augustin+Bena+87,+Sebe%C8%99+515800!3b1!8m2!3d45.9596294!4d23.5496557!3m5!1s0x474ea1e1be02c313:0x6874af027c749929!8m2!3d45.9606059!4d23.4796536!16s%2Fg%2F11l1r9y25y!5m1!1e4?entry=ttu')   Str General Savu, nr 479, Pianu de Jos, Pianu, jud. Alba, Romania
                  .dbox.w-100.d-flex.align-items-center
                    .icon.d-flex.align-items-center.justify-content-center
                      span.fa.fa-phone
                    .text.pl-3
                      p
                        span(style='color: white;font-size:20px;') Menegar:
                        a(style='color: rgba(255, 255, 255, 0.8); font-size:15px;' href='tel: +40 0723687456')    Mob +40 0723687456
                      p
                        span(style='color: white;font-size:20px;') Contabilitat:
                        a(style='color: rgba(255, 255, 255, 0.8); font-size:15px;' href='tel: +40 721 261 322')   Mob +40 721 261 322
                       p
                        span(style='color: white;font-size:20px;') Coordonator:
                        a(style='color: rgba(255, 255, 255, 0.8); font-size:15px;' href='tel: +40 724 239 482')   Mob +40 724 239 482
                  .dbox.w-100.d-flex.align-items-center
                    .icon.d-flex.align-items-center.justify-content-center
                      span.fa.fa-paper-plane
                    .text.pl-3
                      p
                        span(style='color:white; font-size:20px;') Email:
                        br
                        a(style='color: rgba(255, 255, 255, 0.8); font-size:15px;' href='mailto:Office@pacurariu.com')   Office@pacurariu.com
                        br
                        a(style='color: rgba(255, 255, 255, 0.8); font-size:15px;' href='mailto:Transpacurariu@yahoo.com')   Transpacurariu@yahoo.com
                        br
                        a(style='color: rgba(255, 255, 255, 0.8); font-size:15px;' href='mailto:contabilitate@pacurariu.com')   contabilitate@pacurariu.com
    footer(style="background-color: black; display: flex; justify-content: center; align-items: center; color:white; margin-top: 30px; height:45px;")
      | © 2022 Pacurariu Trans Speed. Toate drepturile rezervate.