doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(href='/public/stylesheets/footer.css' rel='stylesheet')
  body
    .footer
      .down-cards
        h3 Address
        p
          | SC Pacurariu Trans Speed  SRL 
          br
          |         Str General Savu  
          br
          |         Nr 479, Pianu de Jos, Pianu 
          br
          |         Jud. Alba, Romania 
          br
      .down-cards
        h3 Contact us
        p(style='padding-bottom: 40px;')
          | Office@pacurariu.com 
          br
          |         contabilitate@pacurariu.com 
          br
          |         +40 724 239 482 
          br
          |         +40 724 239 482
          br
      .down-cards
        h3 Social media
        p(style='padding-bottom: 80px;;')
          a(style='color: white;' href='https://www.facebook.com/PacurariuCom/?locale=ro_RO') Faceboock
          br
          a(style='color: white;' href='https://www.instagram.com/adrianasidan/') Instagram
          br
    footer(style="background-color: black; display: flex; justify-content: center; align-items: center; color:white; height:45px;")
      | © 2022 Pacurariu Trans Speed. Toate drepturile rezervate.