doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='/public/stylesheets/footer.css' rel='stylesheet')

  body
    .footer
      .down-cards
        h3(style="font-size:24px")   Adresa
        a(href="https://www.google.com/maps/place/PACURARIU+TRANS+SPEED/@45.9606056,23.469353,15z/data=!4m6!3m5!1s0x474ea1e1be02c313:0x6874af027c749929!8m2!3d45.9606059!4d23.4796536!16s%2Fg%2F11l1r9y25y?entry=ttu" style="color:white")
          p 
            | SC Pacurariu Trans Speed  SRL 
            br
            |         Str General Savu  
            br
            |         Nr 479, Pianu de Jos, Pianu 
            br
            |         Jud. Alba, Romania 
            br
      .down-cards
        h3(style="font-size:24px")  Contacteaza-ne
        p(style='padding-bottom: 40px;')
          a(style='color: white;' href="mailto:Office@pacurariu.com")
           | Office@pacurariu.com 
          br
          a(style='color: white;' href= "mailto:contabilitate@pacurariu.com")
           |         contabilitate@pacurariu.com 
          br
          a(style='color: white;' href="tel:+40 723 687 456")
           |         +40 723 687 456
          br
          a(style='color: white;' href="tel:+40 724 239 482")
           |         +40 724 239 482
          br
      .down-cards
        h3(style="font-size:24px")  Social media
        p(style='padding-bottom: 80px;;')
          a(style='color: white;' href='https://www.facebook.com/PacurariuCom/?locale=ro_RO') Facebook
          br
