doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Firma de Transporturi
    style.
      body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f8f8f8;
      }
      header {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 20px;
      }
      .container {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
      color: #333;
      }
      p {
      color: #555;
      line-height: 1.6;
      font-size: 20px;
      }
      footer {
      text-align: center;
      padding: 10px;
      background-color: #333;
      color: #fff;
      position: fixed;
      bottom: 0;
      width: 100%;
      }
  body
     include ./navbar
    .container
      p
        | Bine ați venit la 
        strong Pacurariu Trans Speed
        |  - Partenerul Tău de Încredere în Transporturi!
    
      p
        | Suntem o echipă dedicată, pasionată și profesionistă, gata să vă oferim cele mai înalte standarde de servicii de transport. La 
        strong Pacurariu Trans Speed
        | , ne angajăm să vă asigurăm că mărfurile dvs. ajung la destinație în cel mai sigur și eficient mod posibil.
      p
        | 
        | Ce ne definește?
        br
        |1. Calitate Superioară: Ne mândrim cu flota noastră modernă și bine întreținută, echipată cu cele mai recente tehnologii. Fiecare transport este gestionat cu atenție și precizie pentru a vă asigura că mărfurile dvs. ajung în condiții optime la destinație.
        br
        |2. Punctualitate: În lumea afacerilor, timpul este esențial. Cu Pacurariu Trans Speed, vă garantăm livrări punctuale. Fiecare angajat al nostru este dedicat să respecte termenele stabilite și să depună eforturi suplimentare pentru a asigura o experiență fără probleme.
        br
        |3. Soluții Personalizate: Înțelegem că fiecare afacere are nevoi unice. De aceea, oferim soluții personalizate de transport, adaptate cerințelor dvs. specifice. Cu Pacurariu Trans Speed, beneficiați de flexibilitate și servicii adaptate nevoilor dvs.
        br
        |4. Echipă Profesionistă: La Pacurariu Trans Speed, avem o echipă de profesioniști experimentați în domeniul transporturilor. De la șoferii noștri la echipa de logistică, toți contribuim la oferirea unei experiențe excepționale pentru clienții noștri.
        | 
      p
        | Alegeți 
        strong Pacurariu Trans Speed
        |  pentru transporturile dvs. și experimentați nivelul nostru superior de servicii. Suntem aici pentru a face fiecare călătorie sigură, rapidă și eficientă. Împreună, construim parteneriate durabile și de încredere. Contactați-ne astăzi și descoperiți cum vă putem servi cel mai bine nevoile de transport!
    footer
      | © 2022 Pacurariu Trans Speed. Toate drepturile rezervate.
