html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='/public/javascripts/content.js')
    link(href='/public/stylesheets/nav.css' rel='stylesheet')
  body
    header.header
      img.headerIMG(src='/public/images/czech-republic-flag-png-large.png')
      img.headerIMG(src='/public/images/slovakia-flag-png-large.png')
      img.headerIMG(src='/public/images/hungary-flag-png-large.png')
      img.headerIMG(src='/public/images/flag-400.png')
      img.headerIMG(onclick='fb()' src='/public/images/743397.png')
      // Alte elemente din header pot fi adăugate aici
    .navContainer
      nav.navbar.navbar-expand-md.navbar-light.bg-light(aria-label='Fourth navbar example')
        img.navIMG(src='/public/images/pct.jpg')
        .container-fluid
          button.navbar-toggler.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#navbarsExample04' aria-controls='navbarsExample04' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          .buttons
            #navbarsExample04.navbar-collapse.collapse
              ul.navbar-nav.me-auto.mb-2.mb-md-0
                li.nav-item
                  a(href='/home')
                    button.btn.btn-outline-dark(type='button' style='margin-right: 20px;--bs-btn-padding-y: .45rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;') Acasa
                li.nav-item.dropdown
                  .btn-group
                    button.btn.btn-outline-dark.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false' style='margin-right: 20px; --bs-btn-padding-y: .45rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;')
                      | Companie
                    ul.dropdown-menu
                      li
                        a.dropdown-item(href='/about') Despre noi
                      li
                        a.dropdown-item(href='/culture') Cultura
                      li
                        a.dropdown-item(href='/team') Echipa

                li.nav-item
                  a(aria-current='page' href='/services')
                    button.btn.btn-outline-dark(type='button' style='margin-right: 20px; --bs-btn-padding-y: .45rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;') Servicii               
                li.nav-item
                  a(href='/cariera')
                    button.btn.btn-outline-dark(type='button' style='margin-right: 20px;--bs-btn-padding-y: .45rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;') Cariera
                
                li.nav-item
                  a(aria-current='page' href='/')
                    button.btn.btn-outline-dark(type='button' style='margin-right: 60px;; --bs-btn-padding-y: .45rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;') Contact               