doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Pacurariu
    link(href='/public/stylesheets/team.css' rel='stylesheet')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL' crossorigin='anonymous')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN' crossorigin='anonymous')

  body
    include ./navbar
    .start-img
      img(src='/public/images/truks.jpg')
    .container
      .img
        a(class="imgTitle") Marfuri agabaritice
        img(src='/public/images/pictures13.jpg')
      .text
        p
        p(class="textTitle")
          | Soferii profesionisti si flota noastra moderna ne permit sa transportam marfuri de mare tonaj
        p(class="description")
          | Flota moderna include remorci dotate cu rampe care permit incarcarea/descarcarea de marfuri mobile, cu tonaj mare.
          | Asigurăm astfel o livrare conforma și la timp, contribuind la succesul fiecărui proiect.
        p
    .container(style='flex-direction:row-reverse;')
      .img
        a(class="imgTitle") Marfa paletizata
        img(src='/public/images/pictures7.jpg')
      .text
        p
        p(class="textTitle")
          | La Pacurariu Trans Speed, ne specializăm în transportul eficient și sigur al mărfurilor paletizate.
        p(class="description")
          |Suntem orientati atat catre transporturile dedicate, cat si pentru grupaje. Acestea din urma permit optimizarea 
          |rutelor, flexibilitatea in ce priveste cantitatea si frecventa expedierilor si nu in ultimul rand reducerea costurilor.
          | Indiferent de complexitatea sau dimensiunile articolelor pe care le aveți de transportat, suntem aici pentru a vă oferi 
          |soluții personalizate și fiabile. Cu vehicule moderne și un personal experimentat, suntem pregătiți să gestionăm cu atenție
          | și profesionalism transportul mărfurilor dvs. paletizate, aducându-le în siguranță la destinație. 

        p
    .container
      .img
        a(class="imgTitle") Cherestea
        img(src='/public/images/cherestea.jpeg')
      .text
        p
        p(class="textTitle") 
          | Suntem mândri să vă oferim servicii specializate de transport pentru cherestea
        p(class="description") 
          | Cu o flotă modernă și echipată corespunzător, suntem pregătiți să gestionăm eficient 
          | transportul cherestelei dumneavoastră, asigurându-ne că fiecare livrare ajunge la destinație 
          | în condiții optime. Echipa noastră experimentată și dedicată este aici pentru a vă oferi soluții 
          | de transport personalizate, adaptate cerințelor specifice ale industriei lemnoase.
        p
    .container(style='flex-direction:row-reverse;')
      .img
        a(class="imgTitle") Marfuri generale
        img(src='/public/images/pictures15.jpg')
      .text
        p
        p(class="textTitle")
          | Avand in flota noastra semiremorci mega decopertabile și tavane liftante, suntem specializați si în transportul diversificat al mărfurilor generale
        p(class="description")
          |  Echipa noastră dedicată și flota modernă sunt pregătite să gestioneze cu grijă și eficiență transportul mărfurilor generale 
          | ale companiei dumneavoastră. Avem o hală specializată, echipată pentru stocarea și manevrarea mărfurilor, asigurându-ne că 
          | acestea sunt întotdeauna în condiții optime. Indiferent de tipul sau cantitatea de mărfuri, Pacurariu Trans Speed vă
          | oferă soluții de transport flexibile și fiabile, adaptate exact cerințelor dvs. Un partener de încredere în lumea transporturilor!
        p
    include ./footer

